# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_site_key_here
TURNSTILE_SECRET_KEY=your_secret_key_here

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Resend
RESEND_API_KEY=

# Other
OPENAI_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=
