# Node
node_modules/
npm-debug.log
yarn-error.log
.next/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.pub-cache/
.pub/

# System
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Vercel
.vercel/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
